body{
    background-color: #ddd;
}
.blogs{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.blog{
    width: 320px;
    text-align: center;
}
.notFoundPage{
    display: flex;
    justify-content: center;
    justify-content: center;
}
